@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.profile {
    letter-spacing: .2rem;

    .name {
        color: $clr-lightGrey;

        &:after {
            content: '';
            display: block;
            height: 2px;
            width: 80%;
            margin: 0 auto;
            background: #7777774d;

            @media screen and (min-width: 1024px) {
                margin-right: auto;
                margin-left: 0;
                width: 100%;
            }
        }
    }

    .profession {
        color: $clr-lighterGrey;

        span {
            color: $clr-darkGrey;
            font-weight: $fw-bold;
        }
    }
}