@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.desktop-subnav {
    transition: all 2s;

    &__list {
        display: flex;
        opacity: 0;
        transform: translateX(150px);
        transition: all 2s;

        &.subnav-entered {
            opacity: 1;
            width: 100%;
            transform: translateX(0);
        }
    }

    &__list-item {
        display: block;
        margin-right: 2.5rem;

        &:first-child {
            margin-left: 2rem;
        }

        &:last-child {
            margin-right: 1rem;
        }
    }

    &__link {
        font-size: 14px;
        color: #fff;
        @include btn-hover;

        &:hover {
            color: $clr-darkTeal;
        }

        &.active {
            color: $clr-darkTeal;
        }
    }
}