@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.sheet-music-gallery-section {

    @media screen and (min-width: 1024px) {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}