@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.top-socials {
    display: none;

    @media screen and (min-width: 1024px) {
        display: flex;
        align-items: center;
        margin-right: 3rem;
        margin-left: auto;

        a {
            padding: .7rem;

            i {
                font-size: 25px;
                color: $clr-lighterGrey;
                opacity: .2;
            }

            &:hover {
                i {
                    @include btn-hover;
                    color: $clr-lightGrey;
                    opacity: .5;
                }
            }
        }



    }
}