@import '../../../assets/scss/variables.scss';
@import '../../../assets/scss/mixins.scss';

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6.8rem;

    .logo-wrapper {
        width: 5.5rem;
        z-index: 2500;

        .logo {
            a {
                img {
                    @include trans6;

                    &.open {
                        opacity: .5;
                    }
                }
            }
        }
    }

    .menu-toggler {
        cursor: pointer;
        z-index: 1500;

        @media screen and (min-width: 1024px) {
            display: none;
        }

        .hamburger-btn {
            position: relative;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 4rem;
            height: 2.5rem;
            opacity: 1;
            @include trans5;

            &.open {
                transform: translateX(-2rem);
                width: 6rem;
                height: 2.7rem;
            }

            .bar {
                width: 100%;
                height: 0.4rem;
                border-radius: 0.8rem;
                background: #165d69;
                @include trans5;

                &__top {
                    &.open {
                        transform: rotate(47deg) translateX(16px);
                        width: 88%;
                    }
                }

                &__mid {
                    &.open {
                        transform: translateX(-5rem);
                        opacity: 0;
                    }
                }

                &__btm {
                    &.open {
                        transform: rotate(-44deg) translateX(13.5px);
                        width: 89%;
                    }
                }
            }
        }
    }

    .mobile-menu {
        position: fixed;
        height: 100vh;
        width: 0;
        top: 0;
        right: 0;
        background: $clr-lightTeal;
        visibility: hidden;
        z-index: 1400;
        @include trans4;

        &.open {
            width: 100%;
            visibility: visible;
            opacity: 1;
        }

        @media screen and (min-width: 1024px) {
            display: none;
        }

        .mobile-menu-links {

                @media screen and (min-width: 1024px) {
                    display: none;
                }

                .container {
                    padding-top: 14rem;

                    .row {
                        .col {
                            display: block;
                            height: auto;

                            ul {
                                padding: 0;

                                li {
                                    margin-bottom: 1rem;

                                    a {
                                        display: block;
                                        font-size: 3.5rem;
                                        font-weight: 700;
                                        color: #165d69;
                                        padding: 3rem 0;
                                        @include trans5;

                                        &:hover {
                                            color: #2D2D2D;
                                        }

                                        &.active {
                                            color: #fff;
                                        }
                                    }
                                }
                            }

                            .socials {
                                margin-top: 3rem;

                                a {
                                    display: inline-block;
                                    padding: 0 1rem 0 0;
                                    margin: 0 1rem 0 0;

                                    i {
                                        font-size: 2rem;
                                        color: rgb(22, 93, 105);
                                        opacity: .8;
                                        @include btn-hover;
                                    }

                                    &:hover {
                                        i {
                                            color: $clr-darkGrey;
                                            opacity: .7;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
        }
    }

        .desktop-menu {
            display: none;
                        
            @media screen and (min-width: 1024px) {
                display: block;
                z-index: 2000;

                .desktop-menu-links {
                    .container {
                        .row {
                            .col {
                                ul {
                                    display: flex;
                                    margin-left: auto;

                                    li {
                                        display: flex;
                                        align-items: center;
                                        
                                        a {
                                            display: flex;
                                            align-items: center;
                                            font-size: 18px;
                                            letter-spacing: .07rem;
                                            color: $clr-darkGrey;
                                            height: 6.8rem;
                                            padding: 0 2rem;
                                            @include btn-hover;

                                            &:hover {
                                                background: -moz-linear-gradient(top, rgba(22, 93, 105, 0) 0%, rgba(22, 93, 105, 0.41) 42%, rgba(22, 93, 105, 0.41) 62%, rgba(22, 93, 105, 0.01) 99%, rgba(22, 93, 105, 0) 100%);
                                                /* FF3.6-15 */
                                                background: -webkit-linear-gradient(top, rgba(22, 93, 105, 0) 0%, rgba(22, 93, 105, 0.41) 42%, rgba(22, 93, 105, 0.41) 62%, rgba(22, 93, 105, 0.01) 99%, rgba(22, 93, 105, 0) 100%);
                                                /* Chrome10-25,Safari5.1-6 */
                                                background: linear-gradient(to bottom, rgba(22, 93, 105, 0) 0%, rgba(22, 93, 105, 0.41) 42%, rgba(22, 93, 105, 0.41) 62%, rgba(22, 93, 105, 0.01) 99%, rgba(22, 93, 105, 0) 100%);
                                                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00165d69', endColorstr='#00165d69', GradientType=0);
                                                /* IE6-9 */
                                                color: $clr-white;
                                            }

                                            &.active {
                                                background: -moz-linear-gradient(top, rgba(22, 93, 105, 0) 0%, rgba(22, 93, 105, 0.41) 42%, rgba(22, 93, 105, 0.41) 62%, rgba(22, 93, 105, 0.01) 99%, rgba(22, 93, 105, 0) 100%);
                                                /* FF3.6-15 */
                                                background: -webkit-linear-gradient(top, rgba(22, 93, 105, 0) 0%, rgba(22, 93, 105, 0.41) 42%, rgba(22, 93, 105, 0.41) 62%, rgba(22, 93, 105, 0.01) 99%, rgba(22, 93, 105, 0) 100%);
                                                /* Chrome10-25,Safari5.1-6 */
                                                background: linear-gradient(to bottom, rgba(22, 93, 105, 0) 0%, rgba(22, 93, 105, 0.41) 42%, rgba(22, 93, 105, 0.41) 62%, rgba(22, 93, 105, 0.01) 99%, rgba(22, 93, 105, 0) 100%);
                                                /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
                                                filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00165d69', endColorstr='#00165d69', GradientType=0);
                                                /* IE6-9 */
                                                color: $clr-white;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
    }
}