@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';


.turq-btn-wrapper {
    text-align: center;

    .btn {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        width: 25rem;
        height: 5.6rem;
        margin-top: 4rem;
        background: $clr-darkTeal;
        border: solid $clr-lightTeal .3rem;
        @include btn-hover;

        a {
            display: inline-block;
            font-family: 'Fira Sans Condensed',
                sans-serif;
            font-size: 20px;
            color: $clr-white;
            width: 100%;
            @include btn-hover;
        }

        &:hover {
            transform: scale(1.1);
        }

        @media screen and (min-width: 768px) {
            width: 50%;
        }

        @media screen and (min-width: 1024px) {
            width: 25.6rem;
        }
    }
}