@import '../../../../assets/scss/variables.scss';
@import '../../../../assets/scss/mixins.scss';

.single-img {

    .img-box {
        width: 28rem;
        height: 28rem;
        padding-left: 2.4rem;
        padding-bottom: 4rem;
        position: relative;
        display: flex;
        align-items: flex-end;
        transition: .4s ease-out;
        -webkit-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.42);
        -moz-box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.42);
        box-shadow: 0px 4px 12px 0px rgba(0, 0, 0, 0.42);
        margin-top: 5rem;
        margin-right: auto;
        margin-left: auto;
        border: solid $clr-lighterGrey .2rem;

        &:last-child {
            margin-right: auto;
        }

        &:hover {
            transform: translateY(1.5rem);

            div.box-overlay {
                opacity: 1;
                transform: translateY(0);
            }

        }

        &:hover:before {
            opacity: .95;
        }

        &:before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            display: block;
            width: 100%;
            height: 100%;
            background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.74) 46%, rgba(0, 0, 0, 0.95) 88%, rgba(0, 0, 0, 0.95) 100%);
            /* FF3.6-15 */
            background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.74) 46%, rgba(0, 0, 0, 0.95) 88%, rgba(0, 0, 0, 0.95) 100%);
            /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.74) 46%, rgba(0, 0, 0, 0.95) 88%, rgba(0, 0, 0, 0.95) 100%);
            /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#f2000000', GradientType=0);
            /* IE6-9 */
            z-index: 2;
            transition: .5s;
            opacity: 0;
        }

        img {
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            object-fit: cover;
            transition: 1s;
        }

        .box-overlay {
            position: relative;
            z-index: 3;
            color: rgb(211, 211, 211);
            transform: translateY(6rem);
            transition: .5s;
            opacity: 0;

            .box-overlay-hdr {
                font-weight: $fw-bold;
                opacity: 1;
                transform: translateY(0);
                letter-spacing: .3rem;
                font-size: 20px;
            }

            .box-overlay-sub {
                font-weight: $fw-normal;
                width: 80%;
            }

            &:hover {
                opacity: 1;
            }
        }

        @media screen and (min-width: 375px) {
            width: 32rem;
            height: 32rem;
        }

        @media screen and (min-width: 768px) {
            width: 60rem;
            height: 60rem;
        }

        @media screen and (min-width: 1024px) {
            width: 45rem;
            height: 45rem;
        }

        @media screen and (min-width: 1280px) {
            width: 35rem;
            height: 35rem;
        }
    }
}