@import '../../assets/scss/variables.scss';
@import '../../assets/scss/mixins.scss';

.not-found {
    text-align: center;
    height: 35rem;
    margin-top: 13rem;

    @media screen and (min-width: 768px) {
        height: 57rem;
    }

    @media screen and (min-width: 1024px) {
        height: 30rem;
    }
}